<a class="home-btn" href="/">Home</a>

<h1 class="underline">D3.js Data Visualizations</h1>

<ul>
  <li><a href="/one-circle">One Circle</a></li>
  <li><a href="/one-line">One Line</a></li>
  <li><a href="/one-bar">One Bar</a></li>
  <li><a href="/five-little-circles">Five Little Circles</a></li>
  <li><a href="/confetti">Confetti</a></li>
  <li><a href="/rings">Rings</a></li>
  <li><a href="/lines">Crazy Line</a></li>
  <li><a href="/scaled-lines">Scaled Line</a></li>
  <li><a href="/animated-line">Animated Line</a></li>
  <li><a href="/line-chart-1">Basic Line Chart</a></li>
  <li><a href="/time-line-chart">Time Scale Line Chart</a></li>
  <li><a href="/animated-line-chart">Animated Line Chart</a></li>
  <li><a href="/area-chart">Area Chart</a></li>
  <li><a href="/area-chart-2">Interactive Area Chart</a></li>
  <li><a href="/my-name">Nick!!</a></li>
  <li><a href="/peace">Peace</a></li>
  <li><a href="/pie2">Basic Pie Chart</a></li>
  <li><a href="/flower-pedal-pie">Flower Pedals</a></li>
  <li><a href="/planet-diameters">Planet Diameters</a></li>
  <li><a href="/game-scores">Game Scores</a></li>
  <li><a href="/stacked-bars">Stacked Bar Chart</a></li>
  <li><a href="/dom-1">DOM Manipulation 1</a></li>
  <li><a href="/dom-2">DOM Manipulation 2</a></li>
  <li><a href="/dom-3">DOM Manipulation 3</a></li>
  <li><a href="/binary-tree">Binary Tree</a></li>
  <li><a href="/scatterplot">Scatterplot</a></li>
</ul>
