body {
  padding: 0;
  margin: 0;
}

.axis line {
  stroke: #00A0B0;
}

.axis path {
  stroke: #00A0B0;
}

.axis text {
  stroke: #00A0B0;
  font-family: verdana;
}

.home-btn {
  font-size: 20px;
  background-color: #FFF;
  font-family: helvetica;
  color: black;
  padding: 5px;
  border-radius: 5px;
  float: left;
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
}
